*,::after,::before{
    margin: 0;
    box-sizing: border-box;
}

a{text-decoration: none;}
ul{list-style-type: none;padding: 0;}
img{vertical-align: bottom;}
button{cursor:pointer;}
:disabled{cursor: not-allowed;}

html{font-size: 15px;scroll-behavior: smooth;}

@font-face {
    font-family: proxima;
    src: url(font/Proxima-Nova-Thin.woff2);
    font-weight: 100;
    font-display: swap;
}
@font-face {
    font-family: proxima;
    src: url(font/Proxima-Nova-Regular.woff2);
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: proxima;
    src: url(font/Proxima-Nova-Bold.woff2);
    font-weight: 700;
    font-display: swap;
}

body{font: 400 16px 'proxima', sans-serif;}
.container{max-width: 1200px;margin: auto;padding: 0 1rem;}
.row{display: flex;
    flex-flow: row wrap;
    margin: 0 -1rem;}

[class^="col-"]{
    flex: 1 0 auto;
    padding: 0 1rem;
}

.col-1{ 
    flex-basis: 8.3363%;
    max-width: 8.3336%;
}
.col-2{ 
    flex-basis: 16.666%;
    max-width: 16.666%;
}
.col-3{ 
    flex-basis: 25%;
    max-width: 25%;
}
.col-4{ 
    flex-basis: 33.3336%;
    max-width: 33.3336%;
}
.col-5{ 
    flex-basis: 41.666%;
    max-width: 41.666%;
}
.col-6{ 
    flex-basis:50%;
    max-width: 50%;
}
.col-7{ 
    flex-basis:58.3336%;
    max-width: 58.3336%;
}
.col-8{ 
    flex-basis:66.666%;
    max-width: 66.666%;
}
.col-9{ 
    flex-basis:75%;
    max-width: 75%;
}
.col-10{ 
    flex-basis:83.3336%;
    max-width: 83.3336%;
}
.col-11{ 
    flex-basis:91.666%;
    max-width: 91.6666%;
}
.col-12{ 
    flex-basis:100%;
    max-width: 100%;
}
.active{
    background-color: #ffc045;
}

.bg-red{background: #f38181;}
.bg-white{background-color: #fff;}
.flex{display:flex}
.align-center{ align-items: center;}
.justify-right{ justify-content: right;}
.justify-space-bet{ justify-content: space-between;}
.text-center{text-align: center;}
.float-right{float: right;}
.float-left{float: left;}
.bold{font-weight: 700;font-size: 30px;}
img{max-width:100%;height: auto;}
.btn-mob{display: none;}

.wrap-1{background: url('img/wrap1_bg2.webp') no-repeat center center/cover; color: #3d2514;padding-bottom: 100px;}
.wrap-1 .icon{line-height: 130px; font-size: 50px; padding: 0 20px 0 0;}
h1{line-height: 130px; font-size: 25px;}
.wrap-1 .col-8{display: flex;flex-direction: column; align-items: end; justify-content: center;}
.lower{margin-top: 20px;}
.wrap-1 a{padding: 0 0 0 20px;color: #3d2514;}
.wrap-1 span{margin-right: 20px;}
.sider p{margin: 130px 0 20px 0; font-weight: 100;border: 2px dashed #3d2514; display: inline-block; padding: 5px;}
.sider h2:first-of-type{font-size: 120px;text-shadow: 5px 5px 5px rgba(61, 37, 20,0.7);}
.sider h2:last-of-type{font-size: 60px;text-shadow: 5px 5px 5px rgba(61, 37, 20,0.7);}
.sider-2{position: relative;}
.red-circle{position: absolute; background-color: #bf2222;border-radius: 50%;height: 180px;width: 180px;bottom: -50px;left:-15px;display: flex;justify-content: center;align-items: center;}
.dotted-circle{height: 150px; width: 150px; border: 1px dashed #fff;border-radius: 50%;color: #fff; font-size: 30px;text-align: center;padding-top: 34px;}

.wrap-2{padding: 80px 0 40px;}
.wrap-2 figure{position: relative;}
.wrap-2 figcaption{position: absolute;top: 20px;left: 20px;color: #fff;}
.wrap-2 .right{display: flex; flex-direction: column;justify-content: space-between;max-height: 420px;}
.wrap-2 figcaption .newline{font-size: 24px;}

.wrap-3{padding: 40px 0 80px;}
.wrap-3 .container{text-align: center;}
.wrap-3>.container>p{display: inline-block;background-color: #ffc045;padding: 5px 15px;}
.wrap-3 h2{text-align: center;font-size: 35px; color:#3d2514;margin: 35px 0;}
.image-margin{padding:65px 0;}
.wrap-3 .col-10 p{line-height: 25px;font-weight: 100;}
.wrap-3 figcaption{margin: 20px 0; font-size: 20px;}
.wrap-3 button{margin:20px 0;background: #bf2222; padding: 10px 20px;border: none; color: #fff; font-size: medium; font-weight: 700;}

.wrap-4{padding: 20px;}
.wrap-4 .col-10{padding: 20px 0; color:#3d3d3d;}
.wrap-4 .container{ position: relative;overflow: hidden;}
.wrap-4 .slide-box{width:calc((100%)*3);transition: 0.7s all ease;}
.wrap-4 .page-slider{max-width: 100%; padding: 2rem 0;}
.wrap-4 .col-10 p:nth-of-type(2){color: #3d2514; margin:10px 0 30px;font-size: 25px;}
.wrap-4 p{font-size: 20px;}
.wrap-4 input{display: none;}
.slider-icons{position: absolute; bottom: 50px; left: 50px;}
#slider-1:checked ~ .slide-box{transform: translateX(0);}
#slider-2:checked ~ .slide-box{transform: translateX(calc(-33.3334%));}
#slider-3:checked ~ .slide-box{transform: translateX(calc(-66.66667%));}
.slide{height: 20px; width: 20px; border-radius: 50%; border: 2px solid #bbb; display: inline-block;cursor: pointer;z-index: 2;position:relative; }

.wrap-5{padding: 5rem 0;position: relative;}
.wrap-5 h2{text-align: center;padding: 0.5rem;}
.wrap-5 p{font-size: 2.3rem;text-align: center;font-weight: 700;padding: 0.1rem 0 3rem;}
.wrap-5 input{width:100%;padding:0.5rem 0.5rem;font-size: 1.1rem;border-radius: 0.2rem; border:1px solid #3d2514;outline: none;}
.wrap-5 .col-8 .row{gap:2rem 0;}
button{width: 100%;padding:0.4rem 0.5rem;font-size: 1.1rem;border-radius: 0.2rem;border:1px solid #3d2514;outline: none;background-color: #bf2222; color: #eee;font-weight: 700;font-size: 1.2rem;}
.wrap-5 input::placeholder{font-size: 0.9rem;}
img.wrap_5_img1{position: absolute; bottom: 0px; right: 0;width:200px; }
img.wrap_5_img2{position: absolute; top:20px;left:0;width: 10rem;}
img.wrap_5_img3{position: absolute; bottom:20px;left:3rem;width:10rem;}

.wrap-6 .container{background: url('img/wrap6_bg_img.webp') no-repeat center center/cover;padding: 50px 50px; color: #fff;}
.wrap-6 .burger_icon{font-size: 4rem;line-height: 3rem;}
.wrap-6 .flex{gap: 1.5rem;margin-bottom: 5rem;}
.wrap-6 h2{line-height: 3rem;}
.wrap-6 a{color: #fff;}
.wrap-6 a span{padding-right: 1.5rem;}
.wrap-6 .col-8{padding: 0.5rem;}
.wrap-6 .col-6>p{margin-top: 10rem;}
.bottom-right{text-align: right;padding-top: 10rem;}



@media screen and (max-width: 1220px){
    .slider-icons{position: absolute; bottom: 0; left: 4rem;}
}    
@media screen and (max-width: 980px){
    .wrap-1 .sider h2:first-of-type{font-size: 6rem;}
    .wrap-1 .sider h2:nth-of-type(2){font-size: 4rem;}
    .wrap-4 p{font-size: 1rem;}
    img.wrap_5_img1 {position: absolute;bottom: 11rem;right: 0;width: 12rem;}
    img.wrap_5_img3 {position: absolute;bottom: 20px;left: 2rem;width: 7rem;}
    .col-tp-12{ flex-basis:100%;max-width: 100%;}
    .collapse{display: none;}
    .wrap-2 figcaption .newline{font-size: 1.5rem;}
}
@media screen and (max-width: 767px){
    .collapse1{display:none;position: absolute;left:0;right: 0;top: 6rem;text-align: right;background: #ffe07a;z-index: 2;padding-top: 10px;}
    .col-ml-10{flex-basis:83.3336%;max-width: 83.3336%;}
    .column-flex-ml{flex-direction: column;}
    .btn-mob{position: relative;display: block;}
    .btn-mob span{ display: block;width: 2rem; height:2px;background-color:#fff;}
    .relative-position{position: relative;}
    .col-ml-12{flex-basis: 100%;max-width: 100%;}
    .wrap-1 header nav ul li{padding: 20px 0;}
    .wrap-1 .sider p{margin-top: 0;}
    .wrap-2 img:not(:last-child){margin-bottom: 2rem;}
    img.wrap_5_img3 {position: absolute;bottom: auto;top:-1rem;right: 2rem;left:auto;width: 7rem;}
    .margin-top-ml{margin-top: 2rem;}
}
@media screen and (max-width: 460px){
    :root{font-size: 12px;}
    body{font-size: 14px;}
    .wrap-1 .icon{font-size: 2.5rem;padding:0 10px 0 0;line-height: 100px;}
    h1{font-size: 1.2rem;line-height: 100px;}
    .btn-mob span{width:100%;}
    .wrap-1 .sider h2:first-of-type {font-size: 5rem;}
    .wrap-3{padding:40px 0 0 ;}
    .image-margin {padding: 25px 0;}
    .slide{height: 1rem;width: 1rem;}
    .collapse3{display: none;}
    .wrap-6 .container{padding:50px 10px;}
    .wrap-6 a{font-size: 12px;}
    .wrap-6 p{font-size: 12px;}
}